/*Style.css*/

.headers{
    background: black;
    text-align: center;    padding: 20px;
    margin: 16px 600px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: Helvetica, Arial, "Sans-serif";
}

.list{
    background: red;
    margin: 16px 600px;
    text-align: center;
    list-style-position: inside;
}

.link{
    font-family: Helvetica, Arial, "Sans-serif";
    font-size: 32px;
}

.text{
    text-align: center;
    list-style-position: inside;
    font-family: Helvetica, Arial, "Sans-serif";
    font-size: 32px;
}

.ingredients{
    color: black;
    background-color: yellow;
    margin: 16px 600px;
}

.steps{
    background: #2ea117;
    margin: 16px 200px;
}